@font-face {
  font-family: "Open Sans";
  src: url("../Fonts/OpenSans-Bold.eot");
  src: url("../Fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../Fonts/OpenSans-Bold.woff") format("woff"),
    url("../Fonts/OpenSans-Bold.ttf") format("truetype"),
    url("../Fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../Fonts/OpenSans-Light.eot");
  src: url("../Fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
    url("../Fonts/OpenSans-Light.woff") format("woff"),
    url("../Fonts/OpenSans-Light.ttf") format("truetype"),
    url("../Fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../Fonts/OpenSans-BoldItalic.eot");
  src: url("../Fonts/OpenSans-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../Fonts/OpenSans-BoldItalic.woff") format("woff"),
    url("../Fonts/OpenSans-BoldItalic.ttf") format("truetype"),
    url("../Fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../Fonts/OpenSansLight-Italic.eot");
  src: url("../Fonts/OpenSansLight-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../Fonts/OpenSansLight-Italic.woff") format("woff"),
    url("../Fonts/OpenSansLight-Italic.ttf") format("truetype"),
    url("../Fonts/OpenSansLight-Italic.svg#OpenSansLight-Italic") format("svg");
  font-weight: 300;
  font-style: italic;
}
